
.settings/org.eclipse.m2e.core.prefs
.settings/
.classpath
.project
*.eclipse.m2e.core.prefs
cspi-schema/diff.patch
cspi-schema/dumpTree-1331765768078
cspi-schema/dumpTree-1331765768078.xml
cspi-schema/dumpedTrees/
tomcat-main/src/main/resources/tenants/core/cow.xml
.gitignore
*.bak
target/
.DS_Store

