target/
tomcat-main/src/main/resources/tenants/core/local-settings.xml
tomcat-main/src/main/resources/tenants/lifesci/local-settings.xml
.settings/org.eclipse.m2e.core.prefs
csp-api/.settings/
csp-helper/.settings/
csp-impl/.classpath
csp-impl/.project
csp-impl/.settings/
cspi-file/.settings/
cspi-installation/.classpath
cspi-installation/.project
cspi-installation/.settings/
cspi-schema/.classpath
cspi-schema/.project
cspi-schema/.settings/
cspi-services/.settings/
cspi-webui/.classpath
cspi-webui/.project
cspi-webui/.settings/
general-utils/.classpath
general-utils/.project
general-utils/.settings/
jxutils/.settings/
tomcat-main/.settings/org.eclipse.m2e.core.prefs
war-entry/.classpath
war-entry/.project
war-entry/.settings/
cspi-schema/diff.patch
cspi-schema/dumpTree-1331765768078
cspi-schema/dumpTree-1331765768078.xml
cspi-schema/dumpedTrees/
tomcat-main/.settings/org.eclipse.wst.common.component
tomcat-main/.settings/org.eclipse.wst.common.project.facet.core.xml
tomcat-main/src/main/resources/tenants/core/cow.xml
tomcat-main/src/main/resources/tenants/core/local-procedure-loanin.xml
tomcat-main/src/main/resources/tenants/core/xmlmerge.properties
.gitignore
.project
.settings/org.eclipse.core.resources.prefs
csp-api/.classpath
csp-api/.project
csp-helper/.classpath
csp-helper/.project
cspi-file/.classpath
cspi-file/.project
cspi-services/.classpath
cspi-services/.project
jxutils/.classpath
jxutils/.project
tomcat-main/.classpath
tomcat-main/.project
tomcat-main/.settings/org.eclipse.jdt.core.prefs
*.bak



