*.out
tomcat-main/plugins/
.settings/org.eclipse.m2e.core.prefs
.settings/
.classpath
.project
*.eclipse.m2e.core.prefs
tomcat-main/nb-configuration.xml
tomcat-main/nbactions-debug.xml
cspi-schema/diff.patch
cspi-schema/dumpTree-1331765768078
cspi-schema/dumpTree-1331765768078.xml
cspi-schema/dumpedTrees/
tomcat-main/src/main/resources/tenants/core/cow.xml
.gitignore
*.bak
target/
.DS_Store
*.bindings.xml
war-entry/tmp/
*.xlsx
.vscode
host-settings.xml
.flattened-pom.xml
