<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>collectionspace chain</display-name>

  <servlet>
    <servlet-name>TenantServlet</servlet-name>
    <servlet-class>org.collectionspace.chain.controller.TenantServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TenantUIServlet</servlet-name>
    <servlet-class>org.collectionspace.chain.controller.TenantUIServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TenantUIServlet</servlet-name>
    <url-pattern>/ui/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TenantServlet</servlet-name>
    <url-pattern>/tenant/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TenantServlet</servlet-name>
    <url-pattern>/chain/*</url-pattern>
  </servlet-mapping>
  
<filter>
  <filter-name>CharSetFilter</filter-name>
  <filter-class>org.collectionspace.chain.controller.filters.CharSetFilter</filter-class>
  <init-param>
    <param-name>encodings</param-name>
    <param-value>US-ASCII, UTF-8, EUC-KR, ISO-8859-15, ISO-8859-1</param-value>
  </init-param>
  <init-param>
    <param-name>inputEncodingParameterName</param-name>
    <param-value>ie</param-value>
  </init-param>
</filter>

<filter-mapping>
  <filter-name>CharSetFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

  <!-- INFO if you're really paranoid about performance, comment out the following
       filter blocks; otherwise leave them in and use log4j.properties to control logging
  <filter>
    <filter-name>PerformanceLoggingFilter</filter-name>
    <filter-class>org.collectionspace.chain.controller.filters.PerflogFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>PerformanceLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

</web-app>
