<settings>
  <admin>
    <username>admin@fabricworkshop.org</username>
    <password>Administrator</password>
    <tenant>1214</tenant>
    <tenantname>fwm</tenantname>
    <cookievalidformins>60</cookievalidformins>
    <!-- termLists, autocomplete instance lists, specs, and schemas,
             static UI elements, etc.
             will cache for a month (60*60*24*30) by default -->
    <termlist-cache-timeout>2592000</termlist-cache-timeout>
    <autocompletelist-cache-timeout>2592000</autocompletelist-cache-timeout>
    <reportlist-cache-timeout>2592000</reportlist-cache-timeout>
    <!-- This is for user-uploaded media, not static UI images -->
    <uploaded-media-cache-timeout>2592000</uploaded-media-cache-timeout>
    <uispecschema-cache-timeout>2592000</uispecschema-cache-timeout>
    <ui-html-cache-timeout>2592000</ui-html-cache-timeout>
    <ui-css-cache-timeout>2592000</ui-css-cache-timeout>
    <ui-js-cache-timeout>2592000</ui-js-cache-timeout>
    <!-- This is for static UI images like icons, not uploaded images -->
    <ui-media-cache-timeout>2592000</ui-media-cache-timeout>
    <!-- This is for the message bundles properties -->
    <ui-props-cache-timeout>2592000</ui-props-cache-timeout>
  </admin>
  <email>
    <baseurl>${CSPACE_SMTP_EMAIL_BASEURL_OPT}</baseurl>
    <from>${CSPACE_SMTP_EMAIL_FROM_OPT}</from>
    <to></to>
    <!-- if specified then all emails will send to this address - used for debugging -->
		<smtp>
			<host>${CSPACE_SMTP_EMAIL_HOST_OPT}</host>
			<port>${CSPACE_SMTP_EMAIL_PORT_OPT}</port>
			<debug>${CSPACE_SMTP_EMAIL_AUTH_DEBUG_OPT}</debug>
			<auth enabled="true">
				<!-- set to true if wish to use auth -->
			    <username>${CSPACE_SMTP_EMAIL_AUTH_USERNAME_OPT}</username>
			    <password>${CSPACE_SMTP_EMAIL_AUTH_PASSWORD_OPT}</password>
			</auth>
		</smtp>
		<passwordreset>
			<token>
				<!-- <daysvalid>1</daysvalid> --> <!-- As of v5.0, this field is no longer used. -->
				<tokenExpirationSeconds>300</tokenExpirationSeconds>
			</token>
			<loginpage>/cspace/fwm/resetpw</loginpage>
			<subject>CollectionSpace password reset</subject>
			<message>Hello {{greeting}},\n\rYou've started the process to reset your CollectionSpace account password.\n\rTo finish resetting your password, go to the Reset Password page on CollectionSpace using this link: {{link}}.\n\r\n\rPlease do not reply to this email. This mailbox is not monitored and you will not receive a response. For assistance, contact your CollectionSpace administrator directly.</message>
		</passwordreset>
  </email>
  <persistence>
    <service>
      <url>http://localhost:@JEE_PORT@/cspace-services</url>
      <tenant>
        <id>1214</id>
        <name>fabricworkshop.org</name>
        <version>0.1</version>
        <display-name>Collectionspace FWM Tenant</display-name>
        <create-disabled>${CSPACE_FWM_CREATE_DISABLED_OPT}</create-disabled>
      </tenant>
      <repository>
        <domain>fwm</domain>
        <name>fwm</name>
        <client>nuxeo-java</client>
        <dateformats>
          <pattern>MM/dd/yyyy</pattern>
          <pattern>MMM dd, yyyy</pattern>
          <pattern>dd.MM.yyyy</pattern>
        </dateformats>
        <languages>
          <language>en</language>
        </languages>
        <indexHandler>org.collectionspace.services.common.init.AddIndices</indexHandler>
      </repository>
      <ims-url>/collectionspace/tenant/fwm/</ims-url>
      <!-- NOTE: should be in separate IMS section? -->
    </service>
  </persistence>
</settings>