<collection-space>
  <persistence>
    <service>
      <url>http://test.collectionspace.org:8180/cspace-services</url>
    </service>
  </persistence>
  <ui>
    <web>
      <login-dest>/cspace-ui/html/createnew.html</login-dest>
      <login-failed-dest>/cspace-ui/html/index.html</login-failed-dest>
      <tmp-schema-path/>
    </web>
  </ui>
  <spec>
    <records>
      <record id="collection-object">
	    <field>
	    </field>
  	    <type>x</type>
      </record>
      <record id="intake">
      </record>
      <record id="acquisition">
      </record>
    </records>
  </spec>
</collection-space>