<!--  XXX autocomplete needs renaming to something like authority -->
<collection-space>
	<bootstrap />
	<version>6</version>
	<admin>
		<username>test</username>
		<password>testtest</password>
	</admin>
	<email>
		<baseurl>http://test.collectionspace.org:8180</baseurl>
		<from>csm22@caret.cam.ac.uk</from>
		<to></to><!-- if specified then all emails will send to this address - used for debugging -->
		<smtp>
			<host>localhost</host>
			<port>25</port>
			<debug>false</debug>
			<auth enabled="false"> <!-- set to true if wish to use auth -->
				<username></username>
				<password></password>
			</auth>
		</smtp>
		<passwordreset>
			<subject>CollectionSpace Password reset request</subject>
			<message>A password reset has been requested from this email. If you wish to reset your password please click on this link {{link}}.</message>
		</passwordreset>
	</email>
	<persistence>
		<service>
			<url>http://test.collectionspace.org:8180/cspace-services</url>
		</service>
	</persistence>
	<ui>
		<web>
			<login-dest>/cspace-ui/html/createnew.html</login-dest>
			<login-failed-dest>/cspace-ui/html/index.html</login-failed-dest>
			<front-page>/cspace-ui/html/</front-page>
			<tmp-schema-path />
		</web>
	</ui>
	<spec>
		<records>
			<record id="collection-object" in-findedit="yes">
			  <services-url>collectionobjects</services-url>
			  <services-list-path>collectionobjects-common-list/collection-object-list-item</services-list-path>
			  <services-record-path id="common">collectionobjects_common:http://collectionspace.org/services/collectionobject,collectionobjects_common</services-record-path>
			  <services-record-path id="naturalhistory">collectionobjects_naturalhistory:http://collectionspace.org/services/collectionobject/domain/naturalhistory,collectionobjects_naturalhistory</services-record-path>
				<web-url>objects</web-url>
				<tab-url>object-tab</tab-url>
				<number-selector>.csc-accession-number</number-selector>
				<row-selector>.csc-object-record-list-row:</row-selector>
				<list-key>objects</list-key>
					<field id="title" in-title="yes" mini="summary">
					    <title-selector>.csc-titleBar-object-identification-object-title</title-selector>
						<selector>.csc-object-identification-object-title</selector>
					</field>
					<field id="objectTitleLanguage">
						<selector>.csc-object-identification-object-title-language</selector>
					</field>
					<field id="titleTranslation">
						<selector>.csc-object-identification-object-title-translation</selector>
					</field>
					<field id="titleType">
						<selector>.csc-object-identification-object-title-type</selector>
					</field>
					<field id="objectNumber" chooser="yes" in-title="yes" in-tab="yes" mini="number">
						<selector>.csc-object-identification-object-number</selector>
						<title-selector>.csc-titleBar-object-identification-object-number</title-selector>
						<options>
							<option id="intake" sample="IN2009.1.1">Intake</option>
							<option id="objects" sample="2009.1.1">Accession</option>
							<option id="loans-in" sample="LI2009.1.1">Loans In</option>
						</options>
					</field>
					<field id="otherNumber" in-tab="yes">
						<selector>.csc-object-identification-other-number</selector>
					</field>
					<field id="otherNumberType" in-tab="yes">
						<selector>.csc-object-identification-other-number-type</selector>
					</field>
					<field id="briefDescription" in-tab="yes">
						<selector>.csc-object-identification-brief-description</selector>
					</field>
					<field id="objectName">
						<selector>.csc-object-identification-object-name</selector>
					</field>
					<field id="objectNameCurrency">
						<selector>.csc-object-identification-object-currency</selector>
					</field>
					<field id="objectNameLevel">
						<selector>.csc-object-identification-object-level</selector>
					</field>
					<field id="objectNameSystem">
						<selector>.csc-object-identification-object-system</selector>
					</field>
					<field id="objectNameType">
						<selector>.csc-object-identification-object-type</selector>
					</field>
					<field id="objectNameLanguage">
						<selector>.csc-object-identification-object-language</selector>
					</field>
					<field id="objectNameNote">
						<selector>.csc-object-identification-object-note</selector>
					</field>
					<field id="distinguishingFeatures">
						<selector>.csc-object-identification-distinguishing-features</selector>
					</field>
					<field id="numberOfObjects">
						<selector>.csc-object-identification-number-objects</selector>
					</field>
					<field id="comments" in-tab="yes">
						<selector>.csc-object-identification-comments</selector>
					</field>
					<field id="copyNumber">
						<selector>.csc-object-description-copy-number</selector>
					</field>
					<field id="objectStatus">
						<selector>.csc-object-description-status</selector>
					</field>
					<field id="sex">
						<selector>.csc-object-description-sex</selector>
					</field>
					<field id="phase">
						<selector>.csc-object-description-phase</selector>
					</field>
					<field id="form">
						<selector>.csc-object-description-form</selector>
					</field>
					<field id="editionNumber">
						<selector>.csc-object-description-edition-number</selector>
					</field>
					<field id="age">
						<selector>.csc-object-description-age</selector>
					</field>
					<field id="ageQualifier">
						<selector>.csc-object-description-age-qualifier</selector>
					</field>
					<field id="ageUnit">
						<selector>.csc-object-description-age-unit</selector>
					</field>
					<field id="style">
						<selector>.csc-object-description-style</selector>
					</field>
					<field id="color">
						<selector>.csc-object-description-color</selector>
					</field>
					<field id="material">
						<selector>.csc-object-description-material</selector>
					</field>
					<field id="materialComponent">
						<selector>.csc-object-description-material-component</selector>
					</field>
					<field id="materialComponentNote">
						<selector>.csc-object-description-material-component-note</selector>
					</field>
					<field id="materialName">
						<selector>.csc-object-description-material-name</selector>
					</field>
					<field id="materialSource">
						<selector>.csc-object-description-material-source</selector>
					</field>
					<field id="physicalDescription">
						<selector>.csc-object-description-physical-description</selector>
					</field>
					<field id="objectComponentName">
						<selector>.csc-object-description-object-component-name</selector>
					</field>
					<field id="objectComponentInformation">
						<selector>.csc-object-description-object-component-information</selector>
					</field>
					<field id="technicalAttribute">
						<selector>.csc-object-description-technical-attribute</selector>
					</field>
					<field id="technicalAttributeMeasurement">
						<selector>.csc-object-description-technical-attribute-measurement</selector>
					</field>
					<field id="technicalAttributeMeasurementUnit">
						<selector>.csc-object-description-technical-attribute-unit</selector>
					</field>
					<field id="dimension">
						<selector>.csc-object-description-dimension</selector>
					</field>
					<field id="dimensionMeasuredPart">
						<selector>.csc-object-description-dimension-part</selector>
					</field>
					<field id="dimensionValue">
						<selector>.csc-object-description-dimension-value</selector>
					</field>
					<field id="dimensionValueQualifier">
						<selector>.csc-object-description-dimension-value-qualifier</selector>
					</field>
					<field id="contentDescription">
						<selector>.csc-object-description-content-description</selector>
					</field>
					<field id="contentLanguage">
						<selector>.csc-object-description-content-language</selector>
					</field>
					<field id="contentActivity">
						<selector>.csc-object-description-content-activity</selector>
					</field>
					<field id="contentConcept">
						<selector>.csc-object-description-content-concept</selector>
					</field>
					<field id="contentPosition">
						<selector>.csc-object-description-content-position</selector>
					</field>
					<field id="contentObject">
						<selector>.csc-object-description-content-object</selector>
					</field>
					<field id="contentObjectType">
						<selector>.csc-object-description-content-object-type</selector>
					</field>
					<field id="contentPeople" autocomplete="person-person">
						<selector>.csc-object-description-content-people</selector>
					</field>
					<field id="contentPerson" autocomplete="person-person">
						<selector>.csc-object-description-content-person</selector>
					</field>
					<field id="contentPlace">
						<selector>.csc-object-description-content-place</selector>
					</field>
					<field id="contentScript">
						<selector>.csc-object-description-content-script</selector>
					</field>
					<field id="contentOrganization" autocomplete="person-person">
						<selector>.csc-object-description-content-organization</selector>
					</field>
					<field id="contentMethod">
					    <services-tag>contentDate</services-tag>
						<selector>.csc-object-description-content-method</selector>
					</field>
					<field id="contentEventName">
						<selector>.csc-object-description-content-event-name</selector>
					</field>
					<field id="contentEventNameType">
						<selector>.csc-object-description-content-event-name-type</selector>
					</field>
					<field id="contentOther">
						<selector>.csc-object-description-content-other</selector>
					</field>
					<field id="contentOtherType">
						<selector>.csc-object-description-content-other-type</selector>
					</field>
					<field id="contentNote">
						<selector>.csc-object-description-content-note</selector>
					</field>
					<field id="inscriptionContent">
						<selector>.csc-object-description-inscription-content</selector>
					</field>
					<field id="inscriber">
						<selector>.csc-object-description-inscription-content-inscriber</selector>
					</field>
					<field id="inscriptionLanguage">
						<selector>.csc-object-description-inscription-content-language</selector>
					</field>
					<field id="inscriptionDate">
						<selector>.csc-object-description-inscription-content-date</selector>
					</field>
					<field id="inscriptionPosition">
						<selector>.csc-object-description-inscription-content-position</selector>
					</field>
					<field id="inscriptionScript">
						<selector>.csc-object-description-inscription-content-script</selector>
					</field>
					<field id="inscriptionType">
						<selector>.csc-object-description-inscription-content-type</selector>
					</field>
					<field id="inscriptionMethod">
						<selector>.csc-object-description-inscription-content-method</selector>
					</field>
					<field id="inscriptionInterpretation">
						<selector>.csc-object-description-inscription-content-interpretation</selector>
					</field>
					<field id="inscriptionTranslation">
						<selector>.csc-object-description-inscription-content-translation</selector>
					</field>
					<field id="inscriptionTransliteration">
						<selector>.csc-object-description-inscription-content-transliteration</selector>
					</field>
					<field id="inscriptionDescription">
						<selector>.csc-object-description-inscription-description</selector>
					</field>
					<field id="inscriptionDescriptionInscriber">
						<selector>.csc-object-description-inscription-description-inscriber</selector>
					</field>
					<field id="inscriptionDescriptionDate">
						<selector>.csc-object-description-inscription-description-date</selector>
					</field>
					<field id="inscriptionDescriptionPosition">
						<selector>.csc-object-description-inscription-description-position</selector>
					</field>
					<field id="inscriptionDescriptionType">
						<selector>.csc-object-description-inscription-description-type</selector>
					</field>
					<field id="inscriptionDescriptionMethod">
						<selector>.csc-object-description-inscription-description-method</selector>
					</field>
					<field id="inscriptionDescriptionInterpretation">
						<selector>.csc-object-description-inscription-description-interpretation</selector>
					</field>
					<field id="dateAssociation">
						<selector>.csc-date-information-date-association</selector>
					</field>
					<field id="datePeriod">
						<selector>.csc-date-information-date-period</selector>
					</field>
					<field id="dateEarliestSingleCertainty">
						<selector>.csc-date-information-date-earliest-single-certainty</selector>
					</field>
					<field id="dateEarliestSingleQualifier">
						<selector>.csc-date-information-date-earliest-single-qualifier</selector>
					</field>
					<field id="dateLatestCertainty">
						<selector>.csc-date-information-date-latest-certainty</selector>
					</field>
					<field id="dateLatestQualifier">
						<selector>.csc-date-information-date-latest-qualifier</selector>
					</field>
					<field id="dateText">
						<selector>.csc-date-information-date-text</selector>
					</field>
					<field id="dimensionMeasurementUnit">
					    <selector>.csc-object-description-dimension-unit</selector>
						<options>
						  <option id="centimeters">centimeters</option>
						  <option id="millimeters">millimeters</option>
						  <option id="meters">meters</option>
						  <option id="liters">liters</option>
						  <option id="kilograms">kilograms</option>
						  <option id="cubic-centimeters">cubic centimeters</option>
						  <option id="minutes">minutes</option>
						  <option id="carats">carats</option>
						  <option id="pixels">pixels</option>
						  <option id="count">count</option>
						  <option id="stories">stories</option>
						  <option id="inches">inches</option>
						  <option id="square-feet">square feet</option>
						  <option id="feet">feet</option>
						</options>
					</field>

					<repeat id="responsibleDepartments" xxx-ui-no-repeat="yes">
			          <field id="responsibleDepartment">
					    <selector>.csc-object-identification-responsible-department</selector>
						<options>
						  <option id="antiquities">Antiquities</option>
						  <option id="architecture-design">Architecture and Design</option>
						  <option id="decorative-arts">Decorative Arts</option>
						  <option id="ethnography">Ethnography</option>
						  <option id="herpetology">Herpetology</option>
						  <option id="media-performance-art">Media and Performance Art</option>
						  <option id="paintings-sculpture">Paintings and Sculpture</option>
						  <option id="paleobotany">Paleobotany</option>
						  <option id="photographs">Photographs</option>
						  <option id="prints-drawings">Prints and Drawings</option>
						</options>
			         </field>
			        </repeat>

					<!--  natural history -->
					<!--  ID's probably can't use -'s , :( XXX -->
					<field id="nhString" section="naturalhistory">
					  <services-tag>nh-string</services-tag>
					</field>

			</record>


			<record id="intake" in-findedit="yes">
			  <services-url>intakes</services-url>
			  <services-list-path>intakes-common-list/intake-list-item</services-list-path>
			  <services-record-path>intakes_common:http://collectionspace.org/services/intake,intakes_common</services-record-path>			
			  <row-selector>.csc-procedural-record-list-row:</row-selector>
			  <field id="currentOwner" autocomplete="person-person">
			    <selector>.csc-intake-current-owner</selector>
			  </field>
			  <field id="depositor" autocomplete="person-person" mini="summary">
			    <selector>.csc-intake-depositor</selector>
			  </field>
			  <field id="depositorsRequirements">
			    <selector>.csc-intake-depositor-requirements</selector>
			  </field>
			  <field id="entryNote">
			    <selector>.csc-intake-entry-note</selector>
			  </field>
			  <field id="entryNumber" chooser="yes" in-title="yes" mini="number">
			    <selector>.csc-intake-entry-number</selector>
			    <title-selector>.csc-titleBar-intake-entry-number</title-selector>
				  <options>
					<option id="intake" sample="IN2009.1">Intake</option>
					<option id="study" sample="ST2009.1">Study</option>
					<option id="evaluations" sample="EV2009.1">Evaluation</option>
				  </options>			    
			  </field>
			  <field id="entryReason">
			    <selector>.csc-intake-entry-reason</selector>
			    <options>
			      <option id="enquiry">Enquiry</option>
			      <option id="commission">Commission</option>
			      <option id="loan">Loan</option>
			    </options>
			  </field>
			  <field id="packingNote">
			    <selector>.csc-intake-packing-note</selector>
			  </field>
			  <field id="associationDate">
			    <selector>.csc-intake-date-association</selector>
			  </field>
			  <field id="earliestDateCertainty">
			    <selector>.csc-intake-date-earliest-single-certainty</selector>
			  </field>
			  <field id="earliestDateQualifier">
			    <selector>.csc-intake-date-earliest-single-qualifier</selector>
			  </field>
			  <field id="latestDateCertainty">
			    <selector>.csc-intake-date-latest-certainty</selector>
			  </field>
			  <field id="latestDateQualifier">
			    <selector>.csc-intake-date-latest-qualifier</selector>
			  </field>
			  <field id="datePeriod">
			    <selector>.csc-intake-date-period</selector>
			  </field>			  
			  <field id="dateText">
			    <selector>.csc-intake-date-text</selector>
			  </field>
			  <field id="fieldCollectionEventName">
			    <selector>.csc-intake-field-collection-event-name</selector>
			  </field>
			  <field id="fieldCollectionNumber">
			    <selector>.csc-intake-field-collection-number</selector>
			  </field>
			  <field id="fieldCollector" autocomplete="person-person">
			    <selector>.csc-intake-field-collector</selector>
			  </field>
			  <field id="valuationReferenceNumber">
			    <selector>.csc-intake-valuation-reference-number</selector>
			  </field>
			  <field id="valuer" autocomplete="person-person">
			    <selector>.csc-intake-valuer</selector>
			  </field>			  
			  <field id="insuranceNote">
			    <selector>.csc-intake-insurance-note</selector>
			  </field>
			  <field id="insurancePolicyNumber">
			    <selector>.csc-intake-insurance-policy-number</selector>
			  </field>
			  <field id="insuranceReferenceNumber">
			    <selector>.csc-intake-insurance-reference-number</selector>
			  </field>
			  <field id="insurer" autocomplete="person-person">
			    <selector>.csc-intake-insurer</selector>
			  </field>  
			  <field id="currentLocation">
			    <selector>.csc-intake-current-location</selector>
			  </field>
			  <field id="currentLocationFitness">
			    <selector>.csc-intake-current-location-fitness</selector>
			  </field>
			  <field id="currentLocationNote">
			    <selector>.csc-intake-current-location-note</selector>
			  </field>
			  <field id="normalLocation">
			    <selector>.csc-intake-normal-location</selector>
			  </field>
			  <field id="conditionCheckMethod">
			    <selector>.csc-intake-condition-check-method</selector>
			  </field>
			  <field id="conditionCheckNote">
			    <selector>.csc-intake-condition-check-note</selector>
			  </field>
			  <field id="conditionCheckReason">
			    <selector>.csc-intake-condition-check-reason</selector>
			  </field>
			  <field id="conditionCheckReferenceNumber">
			    <selector>.csc-intake-condition-check-reference-number</selector>
			  </field>
			  <field id="conditionCheckAssesor" autocomplete="person-person">
			    <selector>.csc-intake-condition-check-assessor</selector>
			  </field>			  
			  <field id="conditionCheckDate" ui-type="date">
			    <selector>.csc-intake-condition-check-date</selector>
			  </field>
			  <field id="locationDate" ui-type="date">
			    <selector>.csc-intake-location-date</selector>
			  </field>
			  <field id="insuranceRenewalDate" ui-type="date">
			    <selector>.csc-intake-insurance-renewal-date</selector>
			  </field>
			  <field id="fieldCollectionDate" ui-type="date">
			    <selector>.csc-intake-field-location-date</selector>
			  </field>			  
			  <field id="latestDate" ui-type="date">
			    <selector>.csc-intake-date-latest</selector>
			    <container-selector>.csc-intake-date-latest-single-container</container-selector>
			  </field>
			  <field id="earliestDate" ui-type="date">
			    <selector>.csc-intake-date-earliest-single</selector>
			  </field>
			  <field id="entryDate" ui-type="date">
				<selector>.csc-intake-entry-date</selector>
			  </field>
			  <field id="returnDate" ui-type="date">
			    <selector>.csc-intake-return-date</selector>
			  </field>
			  <repeat id="entryMethods" xxx-services-no-repeat="yes">
			    <selector>.csc-intake-entry-method-row:</selector>
			    <field id="entryMethod">
			      <selector>.csc-intake-entry-method</selector>
			      <options>
			        <option id="in-person" default="yes">In person</option>
			        <option id="post">Post</option>
			        <option id="found-on-doorstep">Found on doorstep</option>
			      </options>
			    </field>
			  </repeat>
			</record>


			<record id="acquisition"  in-findedit="yes">
		      <services-url>acquisitions</services-url>
			  <services-list-path>acquisitions-common-list/acquisition-list-item</services-list-path>
			  <services-record-path>acquisitions_common:http://collectionspace.org/services/acquisition,acquisitions_common</services-record-path>
			
			
			  <field id="accessionDate" ui-type="date">
			    <selector>.csc-acquisition-accession-date</selector>
			  </field>
			  <field id="acquisitionAuthorizer" autocomplete="person-person">
			    <selector>.csc-acquisition-authorizer</selector>
			  </field>
			  <field id="acquisitionAuthorizerDate" ui-type="date">
			    <selector>.csc-acquisition-authorizer-date</selector>
			  </field>
			  <field id="acquisitionDate" ui-type="date">
			    <selector>.csc-acquisition-date</selector>
			    <container-selector>.csc-acquisition-acquisition-date-container</container-selector>
			  </field>
			  <field id="acquisitionFundingDenomination">
			    <selector>.csc-acquisition-acquisition-funding-denomination</selector>
			  </field>
			  <field id="acquisitionFundingValue">
			    <selector>.csc-acquisition-acquisition-funding-value</selector>
			  </field>
			  <field id="acquisitionFundingSource" autocomplete="person-person">
			    <selector>.csc-acquisition-acquisition-funding-source</selector>
			  </field>
			  <field id="acquisitionFundingSourceProvisos">
			    <selector>.csc-acquisition-acquisition-funding-provisos</selector>
			  </field>
			  <field id="acquisitionMethod">
			    <selector>.csc-acquisition-acquisition-method</selector>
			    <options>
			      <option id="gift">Gift</option>
			      <option id="purchase">Purchase</option>
			      <option id="exchange">Exchange</option>
			      <option id="transfer">Transfer</option>
			      <option id="treasure">Treasure</option>
			    </options>
			  </field>
			  <field id="acquisitionNote">
			    <selector>.csc-acquisition-acquisition-note</selector>
			  </field>
			  <field id="acquisitionProvisos">
			    <selector>.csc-acquisition-acquisition-provisos</selector>
			  </field>
			  <field id="acquisitionReason">
			    <selector>.csc-acquisition-acquisition-reason</selector>
			  </field>
			  <field id="acquisitionReferenceNumber" in-title="yes" chooser="yes" mini="number">
			    <selector>.csc-acquisition-numberPatternChooser-reference-number</selector>
			    <title-selector>.csc-titleBar-acquisition-reference-number</title-selector>
			    <container-selector>.csc-acquisition-reference-number-patternChooserContainer</container-selector>
				  <options>
				    <option id="objects" sample="2009.1">Accession</option>
				    <option id="archives" sample="AR2009.42">Archives</option>
				    <option id="library" sample="LIB2009.1">Library</option>
				  </options>
			  </field>
			  <repeat id="acquisitionSources" xxx-ui-no-repeat="yes">
			    <field id="acquisitionSource" autocomplete="person-person" mini="summary">
			      <selector>.csc-acquisition-acquisition-source</selector>
			    </field>
			  </repeat>
			  <field id="objectPurchaseOfferPriceDenomination">
			    <selector>.csc-acquisition-purchaser-price-denomination</selector>
			  </field>
			  <field id="objectPurchaseOfferPriceType">
			    <services-tag>objectPurchasePriceDenomination</services-tag>
			    <selector>.csc-acquisition-purchase-price-type</selector>
			  </field>
			  <field id="objectPurchaseOfferPriceValue">
			    <selector>.csc-acquisition-purchaser-price</selector>
			  </field>
			  <field id="transferOfTitleNumber">
			    <selector>.csc-acquisition-transfer-of-title-number</selector>
			  </field>
			  <field id="fieldCollectionEventName">
			    <selector>.csc-object-collection-field-collection-event-name</selector>
			  </field>
			  <field id="fieldCollectionNumber">
			    <selector>.csc-object-collection-field-collection-number</selector>
			  </field>
			  <field id="fieldCollector">
			    <selector>.csc-object-collection-field-collection-collector</selector>
			  </field>
			</record>


			<record id="person" type="authority,compute-displayname">
		      <web-url>person</web-url>
			  <services-instances-path>personauthorities_common:http://collectionspace.org/services/person,personauthorities-common-list/personauthority-list-item</services-instances-path>
			  <services-single-instance-path>personauthorities_common:http://collectionspace.org/services/person,personauthorities-common</services-single-instance-path>
			  <services-list-path>http://collectionspace.org/services/person,persons-common-list/person_list_item</services-list-path>
			  <services-record-path>persons_common:http://collectionspace.org/services/person,persons_common</services-record-path>
			  <services-url>personauthorities</services-url>
			  <urn-syntax>urn:cspace:org.collectionspace.demo:personauthority:{vocab}:person:{entry}'{display}'</urn-syntax>

			  <instances>
			    <instance id="person-person">
			      <web-url>person</web-url>
			      <title-ref>person</title-ref>
			      <title>Default Person Authority</title>
			    </instance>
			  </instances>

			  <field id="displayName" in-title="yes" display-name="yes">
			    <selector>.csc-personAuthority-displayName</selector>
			    <title-selector>.csc-titleBar-displayName</title-selector>
			  </field>
			  <field id="referenceNumber">
			    <selector>.csc-personAuthority-referenceNumber</selector>
			  </field>
			  <field id="status">
			    <selector>.csc-personAuthority-status</selector>
			    <options>
			      <option id="provisional">Provisional</option>
			      <option id="under review">Under Review</option>
			      <option id="accepted">Accepted</option>
			      <option id="rejected">Rejected</option>
			    </options>
			  </field>
			  <field id="salutation">
			    <selector>.csc-personAuthority-salutation</selector>
			    <options>
			      <option id="Dear">Dear</option>
			      <option id="Hello">Hello</option>
			      <option id="To">To</option>
			    </options>
			  </field>
			  <field id="title">
			    <selector>.csc-personAuthority-title</selector>
			    <options>
			      <option id="Mr">Mr</option>
			      <option id="Mrs">Mrs</option>
			      <option id="Ms">Ms</option>
			      <option id="Miss">Miss</option>
			      <option id="Dr">Dr</option>
			      <option id="Professor">Professor</option>
			      <option id="Sir">Sir</option>
			      <option id="Dame">Dame</option>
			      <option id="Baron">Baron</option>
			      <option id="Baroness">Baroness</option>
			      <option id="Lord">Lord</option>
			      <option id="Lady">Lady</option>
			    </options>
			  </field>
			  <field id="foreName">
			    <selector>.csc-personAuthority-foreName</selector>
			  </field>
			  <field id="middleName">
			    <selector>.csc-personAuthority-middleName</selector>
			  </field>
			  <field id="surName">
			    <selector>.csc-personAuthority-surName</selector>
			  </field>
			  <field id="nameAdditions">
			    <selector>.csc-personAuthority-nameAdditions</selector>
			  </field>
			  <field id="initials">
			    <selector>.csc-personAuthority-initials</selector>
			  </field>
			  <field id="gender">
			    <selector>.csc-personAuthority-gender</selector>
			    <options>
			      <option id="male">Male</option>
			      <option id="female">Female</option>
			    </options>
			  </field>
			  <field id="occupation" autocomplete="person-person">
			    <selector>.csc-personAuthority-occupation</selector>
			  </field>
			  <field id="schoolOrStyle" autocomplete="person-person">
			    <selector>.csc-personAuthority-schoolOrStyle</selector>
			  </field>
			  <field id="group" autocomplete="organization-organization">
			    <selector>.csc-personAuthority-group</selector>
			  </field>
			  <field id="nationality" autocomplete="person-person">
			    <selector>.csc-personAuthority-nationality</selector>
			  </field>
			  <field id="nameNote">
			    <selector>.csc-personAuthority-nameNote</selector>
			  </field>
			  <field id="bioNote">
			    <selector>.csc-personAuthority-bioNote</selector>
			  </field>
			  <field id="birthDate" ui-type="date" in-title="yes">
			    <selector>.csc-personAuthority-birthDate</selector>
			    <title-selector>.csc-titleBar-birthDate</title-selector>
			  </field>
			  <field id="birthPlace" autocomplete="person-person">
			    <selector>.csc-personAuthority-birthPlace</selector>
			  </field>
			  <field id="deathDate" ui-type="date" in-title="yes">
			    <selector>.csc-personAuthority-deathDate</selector>
			    <title-selector>.csc-titleBar-deathDate</title-selector>
			  </field>
			  <field id="deathPlace" autocomplete="person-person">
			    <selector>.csc-personAuthority-deathPlace</selector>
			  </field>
			  <field id="addressType1">
			    <selector>.csc-contact-addressType1</selector>
			    <options>
			      <option id="Home">home</option>
			      <option id="Work">work</option>
			    </options>
			  </field>
			  <field id="addressText1">
			    <selector>.csc-contact-addressText1</selector>
			  </field>
			  <field id="faxNumber1">
			    <selector>.csc-contact-faxNumber1</selector>
			  </field>
			  <field id="place" autocomplete="person-person">
			    <selector>.csc-contact-place</selector>
			  </field>
			  <field id="telephoneNumber1">
			    <selector>.csc-contact-telephoneNumber1</selector>
			  </field>
			  <field id="postcode1">
			    <selector>.csc-contact-postcode1</selector>
			  </field>
			  <field id="email1">
			    <selector>.csc-contact-email1</selector>
			  </field>
			</record>


			<record id="organization" type="authority,compute-displayname">
			  <web-url>organization</web-url>
			  <services-instances-path>orgauthorities_common:http://collectionspace.org/services/organization,orgauthorities-common-list/orgauthority-list-item</services-instances-path>
			  <services-single-instance-path>orgauthorities_common:http://collectionspace.org/services/organization,orgauthorities_common</services-single-instance-path>
			  <services-list-path>http://collectionspace.org/services/organization,organizations-common-list/organization_list_item</services-list-path>
			  <services-record-path>organizations_common:http://collectionspace.org/services/organization,organizations_common</services-record-path>
			  <services-url>orgauthorities</services-url>
			  <urn-syntax>urn:cspace:org.collectionspace.demo:orgauthority:{vocab}:organization:{entry}'{display}'</urn-syntax>

			  <instances>
			    <instance id="organization-organization">
			      <web-url>organization</web-url>
			      <title-ref>organization</title-ref>
			      <title>Default Organization Authority</title>
			    </instance>
			  </instances>
			
			
			  <field id="displayName" in-title="yes" display-name="yes">
			    <selector>.csc-organizationAuthority-displayName</selector>
			    <title-selector>.csc-titleBar-displayName</title-selector>
			  </field>
			  <field id="status">
			    <selector>.csc-organizationAuthority-status</selector>
			    <options>
			      <option id="provisional">Provisional</option>
			      <option id="under review">Under Review</option>
			      <option id="accepted">Accepted</option>
			      <option id="rejected">Rejected</option>
			    </options>
			  </field>
			  <field id="longName">
			    <selector>.csc-organizationAuthority-longName</selector>
			  </field>
			  <field id="subBody">
			    <selector>.csc-organizationAuthority-subBodyName</selector>
			  </field>
			  <field id="nameAdditions">
			    <selector>.csc-organizationAuthority-nameAdditions</selector>
			  </field>
			  <field id="contactName" autocomplete="person-person">
			    <selector>.csc-organizationAuthority-contactName</selector>
			  </field>
			  <field id="foundingDate" ui-type="date" in-title="yes">
			    <selector>.csc-organizationAuthority-foundingDate</selector>
			    <title-selector>.csc-titleBar-foundationDate</title-selector>
			  </field>
			  <field id="foundingPlace" autocomplete="person-person">
			    <selector>.csc-organizationAuthority-foundingPlace</selector>
			  </field>
			  <field id="dissolutionDate" ui-type="date" in-title="yes">
			    <selector>.csc-organizationAuthority-dissolutionDate</selector>
			    <title-selector>.csc-titleBar-dissolutionDate</title-selector>
			  </field>
			  <field id="group" autocomplete="person-person">
			    <selector>.csc-organizationAuthority-group</selector>
			  </field>
			  <field id="function">
			    <selector>.csc-organizationAuthority-function</selector>
			    <options>
			      <option id="academic institution">academic institution</option>
			      <option id="archives">archives</option>
			      <option id="distributor">distributor</option>
			      <option id="gallery">gallery</option>
			      <option id="library">library</option>
			      <option id="museum">museum</option>
			      <option id="publisher">publisher</option>
			      <option id="religious order">religious order</option>
			    </options>
			  </field>
			  <field id="history">
			    <selector>.csc-organizationAuthority-history</selector>
			  </field>
			</record>


			<record id="users" type="userdata">
		      <web-url>users</web-url>
			  <services-url>accounts</services-url>
			  <services-record-path>:http://collectionspace.org/services/account,accounts_common</services-record-path>   
			  <services-list-path>accounts-common-list/account-list-item</services-list-path>

			  <field id="userId">
			  	<services-filter-param>uid</services-filter-param>
			    <selector>.csc-user-userID</selector>
			  </field>
			  <field id="screenName">
			    <services-filter-param>sn</services-filter-param>
			    <selector>.csc-user-userName</selector>
			  </field>
			  <field id="password" list="yes">
			    <selector>.csc-user-password</selector>
			  </field>
			  <field id="email">
			    <services-filter-param>email</services-filter-param>
			    <selector>.csc-user-email</selector>
			  </field>
			  <field id="status">
			    <selector>.csc-user-status</selector>
			  </field>
			</record>
			
			
 			<record id="id" type="id"> <!-- XXX what is this type? How does this work? -->
			</record>
		</records>
	</spec>
</collection-space>
