<settings>
    <admin>
        <username>admin@fcart.collectionspace.org</username>
        <password>Administrator</password>
        <tenant>1000</tenant>
        <tenantname>fcart</tenantname>
        <cookievalidformins>60</cookievalidformins>
				<!-- termLists, autocomplete instance lists, specs, and schemas,
						 static UI elements, etc.
						 will cache for a month (60*60*24*30) by default -->
        <termlist-cache-timeout>2592000</termlist-cache-timeout>
        <autocompletelist-cache-timeout>2592000</autocompletelist-cache-timeout>
        <reportlist-cache-timeout>2592000</reportlist-cache-timeout>
				<!-- This is for user-uploaded media, not static UI images -->
        <uploaded-media-cache-timeout>2592000</uploaded-media-cache-timeout>
        <uispecschema-cache-timeout>2592000</uispecschema-cache-timeout>
        <ui-html-cache-timeout>2592000</ui-html-cache-timeout>
        <ui-css-cache-timeout>2592000</ui-css-cache-timeout>
				<ui-js-cache-timeout>2592000</ui-js-cache-timeout>
				<!-- This is for static UI images like icons, not uploaded images -->
        <ui-media-cache-timeout>2592000</ui-media-cache-timeout>
				<!-- This is for the message bundles properties -->
        <ui-props-cache-timeout>2592000</ui-props-cache-timeout>
    </admin>
    <email>
        <baseurl>http://qa.collectionspace.org:@JEE_PORT@</baseurl>
        <from>admin@fcart.collectionspace.org</from>
        <to></to>
        <!-- if specified then all emails will send to this address - used for debugging -->
        <smtp>
            <host>localhost</host>
            <port>25</port>
            <debug>false</debug>
            <auth enabled="false">
                <!-- set to true if wish to use auth -->
                <username></username>
                <password></password>
            </auth>
        </smtp>
        <passwordreset>
            <token>
                <!-- <daysvalid>1</daysvalid> --> <!-- As of v5.0, this field is no longer used. -->
                <tokenExpirationSeconds>300</tokenExpirationSeconds>
            </token>
            <loginpage>/cspace/fcart/resetpw</loginpage>
            <subject>CollectionSpace Password reset request</subject>
            <message>Hello {{greeting}},\n\r\n\rYou've started the process to reset your CollectionSpace account password.\n\r\n\rTo finish resetting your password, go to the Reset Password page {{link}} on CollectionSpace.\n\r\n\r \n\r\n\rIf clicking the link doesn't work, copy and paste the following link into your browser address bar and click Go.\n\r\n\r{{link}}\n\r \n\r\n\rThanks,\n\r\n\r CollectionSpace Administrator\n\r\n\rPlease do not reply to this email. This mailbox is not monitored and you will not receive a response. For assistance, contact your CollectionSpace Administrator directly.</message>
		</passwordreset>
    </email>
    <persistence>
        <service>
            <url>http://localhost:@JEE_PORT@/cspace-services</url>
			<tenant>
				<id>1000</id>
				<name>fcart.collectionspace.org</name>
                <domain>fcart</domain>
				<version>0.1</version>
				<display-name>CollectionSpace Fine &amp; Contemporary Art Tenant</display-name>
				<create-disabled>${CSPACE_FCART_CREATE_DISABLED_OPT}</create-disabled>
			</tenant>
			<repository>
				<domain>fcart</domain>
                <name>fcart</name>
				<client>nuxeo-java</client>
				<dateformats>
					<pattern>MM/dd/yyyy</pattern>
					<pattern>MMM dd, yyyy</pattern>
					<pattern>dd.MM.yyyy</pattern>
				</dateformats>
				<languages>
					<language>en</language>
				</languages>
				<indexHandler>org.collectionspace.services.common.init.AddIndices</indexHandler>
			</repository>
			<ims-url>/collectionspace/tenant/fcart/</ims-url> <!-- XXX should be in separate IMS section -->
        </service>
    </persistence>
    <ui>
        <web>
            <login-dest>/collectionspace/ui/fcart/html/findedit.html</login-dest>
            <login-failed-dest>/collectionspace/ui/fcart/html/index.html</login-failed-dest>
            <front-page>/collectionspace/ui/fcart/html/index.html</front-page>
            <find-page>myCollectionSpace</find-page>
            <tmp-schema-path />
			<mappings>
				<map>
					<recordtype>record</recordtype>
					<file>/fcart/html/record.html</file>
				</map>
				<map>
					<recordtype>authority</recordtype>
					<file>/fcart/html/record.html</file>
					<configure>
						<meta id="recordType">{instance/web-url}</meta>
					</configure>
				</map>
				<map>
					<url></url>
					<recordtype>procedure</recordtype>
					<file>/fcart/html/record.html</file>
					<configure>
						<meta id="title">FCArt CollectionSpace - {record/web-url}</meta>
					</configure>
				</map>
			</mappings>
        </web>
    </ui>
</settings>
